
#root, html, body {
  margin: 0;
  padding: 0;
  height:100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: linear-gradient( rgb(251, 114, 114), rgb(91, 44, 44));
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: rgb(240, 186, 186);
  width: 30%;
  height: 29%;
  display:flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 4%;
  box-shadow: 10px 10px;
}

.heading {
  display: flex;
  align-items: center;
  font-size: 160%;
  height: 75%;
  font-family: 'Palatino Linotype', sans-serif;
  padding-bottom: 1%;
}
.title{
font-family: 'Palatino Linotype', sans-serif;
font-size: 200%;
}
.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 35%;
  width: 46%;
  font-size: 90%;
  opacity: 1;
  font-family: 'Palatino Linotype', sans-serif;
  background-color: rgb(113, 52, 71);
  border: 3px solid rgba(57, 2, 11, 0.6);
}

.button span{
  color: #ffffff;
  font-size: 127%;
  font-weight: bolder;
  letter-spacing: .7px;

}

.button:hover{
  animation: rotate .7s ease-in-out both;
}

.button:hover span{
  animation: storm .7s ease-in-out both;
  animation-delay: .06s;
}

#footer{
  text-align: center;
  font-family: 'Palatino Linotype', sans-serif;
  font-size: 105%;
  font-weight: bolder;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(91, 45, 45);
  height: auto;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#fff;
}

a{
  font-family: 'Palatino Linotype', sans-serif;
  color:#fff;
  font-weight: bold;
  font-size: 110%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
     
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  

@media only screen and (max-width: 1007px){
  .card{
    width: 60%;
    height:30%;
  }
}

@media only screen and (max-width:600px){
  .card{
    width:80%;
    height: 40%;
  }
}